In [115]:
# Yippee
#Removing teacher quality and previous scores from the dataset. 
#Feature engineering, combining features like grade/hour studied.
#Categorical variables with natural ordering, like low-med-high are encoded into ordinal variables, 1, 2, 3. 
#Boolean values are converted into 0 1 for yes no.
#Other features such as school type are one hot encoded.


#Import libraries
import pandas as pd
import numpy as np
# Assuming file is in the same directory, import data.
dataf = pd.read_csv("StudentPerformanceFactors.csv")

#Remove Teacher quality, previous scores, and Distance from home, since they are either subjective or not useful.
#[Teacher_Quality], [Previous_Scores], [Distance_from_Home]
dataf = dataf.drop(labels=["Teacher_Quality","Previous_Scores","Distance_from_Home"], axis=1)

#Encode Low --> 1, Medium --> 2, High --> 3
mapper = {"Low":1, "Medium":2, "High":3}
dataf["Parental_Involvement"] = dataf["Parental_Involvement"].map(mapper)
dataf["Access_to_Resources"] = dataf["Access_to_Resources"].map(mapper)
dataf["Motivation_Level"] = dataf["Motivation_Level"].map(mapper)
dataf["Family_Income"] = dataf["Family_Income"].map(mapper)

#Encode Boolean values into binary currently 1 for yes, 0 for no. Can change depending on how we want it.
mapper = {"Yes":1, "No":0}
dataf["Extracurricular_Activities"] = dataf["Extracurricular_Activities"].map(mapper)
dataf["Internet_Access"] = dataf["Internet_Access"].map(mapper)
dataf["Learning_Disabilities"] = dataf["Learning_Disabilities"].map(mapper)

# One-hot encoding, for School_Type, Peer_Incluence, Parental_Education_Level. True = 1, False = 0.
f = pd.get_dummies(dataf['Parental_Education_Level'])
d = pd.get_dummies(dataf['School_Type'])
g = pd.get_dummies(dataf['Peer_Influence'])
f = f.apply(lambda x: x.apply(lambda y: 1 if y else 0))
d = d.apply(lambda x: x.apply(lambda y: 1 if y else 0))
g = g.apply(lambda x: x.apply(lambda y: 1 if y else 0))
dataf = dataf.drop(labels=["Parental_Education_Level","School_Type","Peer_Influence"], axis=1)



res = pd.concat([dataf,f.reset_index(drop=True),d.reset_index(drop=True),g.reset_index(drop=True)], axis=1, ignore_index=True)

colnames = [
    list(dataf.columns),
    list(f.columns),
    list(d.columns),
    list(g.columns)
]

flatten = lambda nested_lists: [item for sublist in nested_lists for item in sublist]

res.columns = flatten(colnames)
dataf = res
# College, High School, Postgraduate are the Parental_Education_Level
# Private, Public are the school types
# Negatve, Neutral, Positive are the Peer_Influence Types.

# Unknown whether or not we want to use Gender. Below includes code to delete the column, or change it to 0 = male 1 = female.

#mapper = {"Male":0, "Female":1} # Encode the values
#dataf["Gender"] = dataf["Gender"].map(mapper) 

#dataf = dataf.drop(labels="Gender", axis=1) # Drop column


#Feature engineering. Combining Features, like Motivation_Level and Hours_Studied.
#Combining Motivation_Level and Hours_Studied into an ordinal variable Motivation, then normalizing it to be between 0 and 1.




dataf

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,...,Gender,Exam_Score,College,High School,Postgraduate,Private,Public,Negative,Neutral,Positive
0,23,84,1,3,0,7,1,1,0,1,...,Male,67,0,1,0,0,1,0,0,1
1,19,64,1,2,0,8,1,1,2,2,...,Female,61,1,0,0,0,1,1,0,0
2,24,98,2,2,1,7,2,1,2,2,...,Male,74,0,0,1,0,1,0,1,0
3,29,89,1,2,1,8,2,1,1,2,...,Male,71,0,1,0,0,1,1,0,0
4,19,92,2,2,1,6,2,1,3,2,...,Female,70,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,3,2,0,7,2,1,1,3,...,Female,68,0,1,0,0,1,0,0,1
6603,23,76,3,2,0,8,2,1,3,1,...,Female,69,0,1,0,0,1,0,0,1
6604,20,90,2,1,1,6,1,1,3,1,...,Female,68,0,0,1,0,1,1,0,0
6605,10,86,3,3,1,6,3,1,2,1,...,Female,68,0,1,0,1,0,0,0,1
6606,15,67,2,1,1,9,2,1,0,2,...,Male,64,0,0,1,0,1,0,0,1